.wrapper {
  background-image: linear-gradient(
    to right,
    #003a70,
    #01498c,
    #005cb1,
    #0062bc,
    #01498c,
    #003a70
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  .curlyImg {
    width: 500px;
    height: 70%;
    position: "fixed";
    top: 0;
    left: 0;
    z-index: 2;
  }
}
